
<div class="dialog-container">
  <div class="form-group has-feedback">
    <h3>Mock API created successfully!</h3>
  </div>
  <div class="form-group has-feedback">
    <label>
      <span>Mocked Api</span>
    </label>
    <input type="text" class="form-control" name="expected_response" [value]="data.mockedApi" disabled>
  </div>
  <div class="form-group has-feedback text-center">
     <button class="dialog-close-button" mat-button mat-dialog-close  tabindex="2" id="button-id">Close</button>
  </div>
</div>


